In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Load dataset
df1 = pd.read_csv('Dataset.csv')

# Check available columns
print(df1.columns)

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [3]:
# Assuming 'Value Label' doesn't exist, let's filter the columns we need
df = df1[['Restaurant Name', 'Cuisines','City','Longitude','Latitude','Price range']]

# Drop rows with missing values in 'Cuisines'
df.dropna(subset=['Cuisines'], inplace=True)

In [4]:
df.head()

,Restaurant Name,Cuisines,City,Longitude,Latitude,Price range
0,Le Petit Souffle,"French, Japanese, Desserts",Makati City,121.027535,14.565443,3
1,Izakaya Kikufuji,Japanese,Makati City,121.014101,14.553708,3
2,Heat - Edsa Shangri-La,"Seafood, Asian, Filipino, Indian",Mandaluyong City,121.056831,14.581404,4
3,Ooma,"Japanese, Sushi",Mandaluyong City,121.056475,14.585318,4
4,Sambo Kojin,"Japanese, Korean",Mandaluyong City,121.057508,14.584450,4